body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
}


h1 {
  text-align: center;
  margin: 50px 0 30px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* For drop down menu */
label[for="checkboxtext"] {
  margin-bottom: 15px;
  padding: 10px;
  margin: 20px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

/* Question titles */
label[for="questionTitle"] {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
}
  
/* Inputs where you type in */
input[id="textInput"], input[id="otherText1"], input[id="otherText2"], input[id="otherText3"], input[id="otherText4"], input[id="otherText5"], input[id="otherText6"], input[id="otherText7"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

div[id="checkbox"], div[id="checkboxGroupRiskFactors"] {
  padding-bottom: 25px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

button[type="submit"] {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style the error message */
#error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox-label {
  margin-left: 5px;
}

.invalid {
  border: 1px solid red;
  background-color: #ffe6e6;
}